<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Present</title>
</head>
<body>
<!-- <form th:object="${newPresents}" th:action="@{/inputPresents}" method='POST'>-->
<form th:object="${newPresents}" th:action="@{/update/{id}(id=${newPresents.id})}" method='POST'>
Name:<input name="name" size="20" th:field="*{name}"><br />
Present: <input name="present" size="20" th:field="*{present}"><br />
Relationship: <input name="relationship" size="20" th:field="*{relationship}"><br />
Host: <input name="host" size="20" th:field="*{holidayParty.host}"><br />
Street: <input name="street" size="20" th:field="*{holidayParty.street}"><br />
City: <input name="city" size="20" th:field="*{holidayParty.city}"><br />
State: <input name="state" size="20" th:field="*{holidayParty.state}"><br />
Day: <input name="day" size="20" th:field="*{holidayParty.day}"><br />
Time: <input name="time" size="20" th:field="*{holidayParty.time}"><br />
<input name="submit" type="submit" value="submit"/>
</form>
<a href="viewAll">View all Presents</a>

</body>
</html>